Repository xbmc/inputstream.adaptive, pull requests merged in 2023-03, with the labels that each got.

#1173 [googletest] Version bump v1.13
  depends/common/googletest/0001-FixWarningMaybe-uninitialized.patch
  depends/common/googletest/0001-fix-UWP-death-test.patch
  depends/common/googletest/CMakeLists.txt
  depends/common/googletest/googletest.sha256
  depends/common/googletest/googletest.txt
Labels: Type: Improvement, Component: Depends, v21 Omega

#1182 [backport][SSD] Re-implemented save license data as debug setting
  inputstream.adaptive/resources/language/resource.language.en_gb/strings.po
  inputstream.adaptive/resources/settings.xml.in
  src/KodiHost.h
  src/SSD_dll.h
  src/Session.cpp
  wvdecrypter/Helper.cpp
  wvdecrypter/Helper.h
  wvdecrypter/wvdecrypter.cpp
  wvdecrypter/wvdecrypter_android.cpp
Labels: v20 Nexus, Type: Backport, Type: Feature

#1186 [googletest] fix missing debug postfix
  depends/common/googletest/CMakeLists.txt
Labels: Type: Fix, Component: Build, Component: Depends, v21 Omega

#1183 [FragmentedSampleReader] Handle piff protection scheme
  src/samplereader/FragmentedSampleReader.cpp
Labels: Type: Fix, Backport: Needed, DRM: Widevine, v21 Omega

#1175 [DASHTree] handle new Period better
  src/Session.cpp
  src/common/AdaptiveStream.cpp
  src/parser/DASHTree.cpp
  src/parser/DASHTree.h
Labels: Type: Improvement, Component: MPEG-DASH, v21 Omega

#1187 [AdaptiveStream] Allow download attempts also for vod
  src/common/AdaptiveStream.cpp
Labels: Backport: Needed, Type: Improvement, v21 Omega

#1189 [backport][FragmentedSampleReader] Handle piff protection scheme
  src/samplereader/FragmentedSampleReader.cpp
Labels: Type: Fix, v20 Nexus, Type: Backport, DRM: Widevine

#1190 Add alt binary addons dir to search paths
  src/Session.cpp
Labels: Type: Improvement, v21 Omega

#1198 [backport][googletest] Version bump v1.13
  depends/common/googletest/0001-FixWarningMaybe-uninitialized.patch
  depends/common/googletest/0001-fix-UWP-death-test.patch
  depends/common/googletest/CMakeLists.txt
  depends/common/googletest/googletest.sha256
  depends/common/googletest/googletest.txt
Labels: v20 Nexus, Type: Backport, Type: Improvement, Component: Depends

#1196 [AdaptiveStream] Allow download attempts also for vod
  src/common/AdaptiveStream.cpp
Labels: v20 Nexus, Type: Backport, Type: Improvement

#1202 [DASH] fix live duration updates, fix uninitialized sequence
  src/parser/DASHTree.cpp
Labels: Type: Fix, Backport: Done, Component: MPEG-DASH, v21 Omega

#1201 [backport][DASH] fix live streams not playing, and duration updates.
  src/parser/DASHTree.cpp
Labels: Type: Fix, v20 Nexus, Type: Backport, Component: MPEG-DASH
