Repository xbmc/inputstream.adaptive, pull requests merged in 2024-07, with the labels that each got.

#1595 [workflow] Use Omega branch for builds
  .github/workflows/build.yml
Labels: Type: Fix, Component: Build, v21 Omega

#1594 [Cleanups] Get rid of CSpinCache / new segment container
  src/Session.cpp
  src/common/AdaptationSet.cpp
  src/common/AdaptationSet.h
  src/common/AdaptiveStream.cpp
  src/common/AdaptiveTree.cpp
  src/common/AdaptiveUtils.cpp
  src/common/AdaptiveUtils.h
  src/common/Period.h
  src/common/Representation.cpp
  src/common/Representation.h
  src/common/Segment.cpp
  src/common/Segment.h
  src/common/SegmentBase.cpp
  src/common/SegmentList.cpp
  src/parser/DASHTree.cpp
  src/parser/DASHTree.h
  src/parser/HLSTree.cpp
  src/parser/SmoothTree.cpp
  src/samplereader/SampleReaderFactory.cpp
  src/test/TestDASHTree.cpp
  src/test/TestHLSTree.cpp
  src/test/TestSmoothTree.cpp
Labels: Type: Cleanup, v21 Omega

#1598 ClearKey
  inputstream.adaptive/addon.xml.in
  src/CompKodiProps.cpp
  src/CompKodiProps.h
  src/Session.cpp
  src/Session.h
  src/common/AdaptiveTree.cpp
  src/common/AdaptiveTree.h
  src/common/AdaptiveUtils.h
  src/common/CommonAttribs.h
  src/common/Period.cpp
  src/common/Period.h
  src/decrypters/CMakeLists.txt
  src/decrypters/DrmFactory.cpp
  src/decrypters/Helpers.cpp
  src/decrypters/Helpers.h
  src/decrypters/IDecrypter.h
  src/decrypters/clearkey/CMakeLists.txt
  src/decrypters/clearkey/ClearKeyCencSingleSampleDecrypter.cpp
  src/decrypters/clearkey/ClearKeyCencSingleSampleDecrypter.h
  src/decrypters/clearkey/ClearKeyDecrypter.cpp
  src/decrypters/clearkey/ClearKeyDecrypter.h
  src/decrypters/widevine/WVCencSingleSampleDecrypter.cpp
  src/decrypters/widevine/WVDecrypter.cpp
  src/decrypters/widevine/WVDecrypter.h
  src/decrypters/widevineandroid/WVCencSingleSampleDecrypter.cpp
  src/decrypters/widevineandroid/WVDecrypter.cpp
  src/decrypters/widevineandroid/WVDecrypter.h
  src/parser/DASHTree.cpp
  src/parser/DASHTree.h
  src/parser/HLSTree.cpp
  src/parser/HLSTree.h
  src/test/CMakeLists.txt
  src/test/TestDASHTree.cpp
  src/test/TestHLSTree.cpp
  src/test/TestHelper.h
  src/test/TestSmoothTree.cpp
  src/utils/Base64Utils.cpp
  src/utils/Base64Utils.h
Labels: Type: Feature, Wiki: Needed, Component: MPEG-DASH, Component: HLS, v21 Omega, DRM: ClearKey

#1581 [backport][Bento4] Version bump (upstream sync)
  depends/common/bento4/bento4.sha256
  depends/common/bento4/bento4.txt
Labels: Type: Backport, Type: Improvement, Component: Depends, v21 Omega

#1601 [Bento4] Version bump (upstream sync)
  depends/common/bento4/bento4.sha256
  depends/common/bento4/bento4.txt
Labels: Type: Fix, Backport: Done, Type: Improvement, Component: Depends, v22 Piers

#1582 [rapidjson] Version bump to upstream
  depends/common/rapidjson/flags.txt
  depends/common/rapidjson/rapidjson.sha256
  depends/common/rapidjson/rapidjson.txt
Labels: Type: Improvement, Component: Depends, v22 Piers

#1603 Cleanups to deprecated properties
  inputstream.adaptive/addon.xml.in
  src/CompKodiProps.cpp
  src/CompKodiProps.h
  src/Session.cpp
  src/common/AdaptiveTree.cpp
  src/common/AdaptiveTreeFactory.cpp
  src/utils/UrlUtils.cpp
  src/utils/UrlUtils.h
Labels: Type: Cleanup, Wiki: Done, v22 Piers, Component: Properties

#1606 [backport][DashTree] Always ensure period duration
  src/parser/DASHTree.cpp
Labels: Type: Fix, Type: Backport, Component: MPEG-DASH, v21 Omega

#1604 [KodiProps] New drm_legacy, moved "keyids" to "license" dict
  inputstream.adaptive/addon.xml.in
  src/CompKodiProps.cpp
  src/CompKodiProps.h
  src/decrypters/clearkey/ClearKeyCencSingleSampleDecrypter.cpp
Labels: Backport: Done, Type: Feature, Wiki: Needed, v22 Piers, Component: Properties

#1605 [backport][KodiProps] New drm_legacy, removed drm property
  inputstream.adaptive/addon.xml.in
  src/CompKodiProps.cpp
  src/CompKodiProps.h
  src/decrypters/clearkey/ClearKeyCencSingleSampleDecrypter.cpp
Labels: Type: Backport, Type: Feature, v21 Omega, Component: Properties

#1612 Replaced deprecated sprintf with snprintf
  lib/cdm/cdm/media/cdm/cdm_adapter.cc
  src/common/SegTemplate.cpp
  src/test/TestUtils.cpp
  src/utils/DigestMD5Utils.cpp
  src/utils/StringUtils.cpp
Labels: Backport: Done, Type: Cleanup, v22 Piers

#1613 [backport] Replaced deprecated sprintf with snprintf
  lib/cdm/cdm/media/cdm/cdm_adapter.cc
  src/common/SegTemplate.cpp
  src/test/TestUtils.cpp
  src/utils/DigestMD5Utils.cpp
  src/utils/StringUtils.cpp
Labels: Type: Backport, Type: Cleanup, v21 Omega
