Repository xbmc/inputstream.adaptive, pull requests merged in 2025-07, with the labels that each got.

#1878 [Decrypters] Allow test fairplay streams with Clearkey DRM
  plugin.video.isasamples/menu_data.py
  src/decrypters/Helpers.cpp
  src/decrypters/Helpers.h
  src/parser/HLSTree.cpp
Labels: Type: Improvement, Component: MPEG-DASH, Component: HLS, v22 Piers, DRM: ClearKey

#1883 [HelperWv] Fix data offset on ParseWidevinePssh
  src/decrypters/HelperWv.cpp
Labels: Type: Fix, DRM: Widevine, v22 Piers

#1867 [DashTree] Timeline improvements for live streams
  src/Session.cpp
  src/Session.h
  src/common/AdaptiveStream.cpp
  src/common/AdaptiveStream.h
  src/common/AdaptiveTree.cpp
  src/common/AdaptiveTree.h
  src/common/Period.cpp
  src/common/Period.h
  src/common/Representation.cpp
  src/common/Representation.h
  src/common/Segment.cpp
  src/common/Segment.h
  src/parser/DASHTree.cpp
  src/parser/DASHTree.h
  src/parser/HLSTree.cpp
  src/parser/SmoothTree.cpp
  src/test/TestDASHTree.cpp
Labels: Type: Fix, Type: Improvement, Component: MPEG-DASH, v22 Piers

#1889 [cleanup] Use std::vector for extradata
  src/codechandler/AV1CodecHandler.cpp
  src/codechandler/AVCCodecHandler.cpp
  src/codechandler/AudioCodecHandler.cpp
  src/codechandler/CodecHandler.h
  src/codechandler/HEVCCodecHandler.cpp
  src/codechandler/VP9CodecHandler.cpp
  src/codechandler/WebVTTCodecHandler.cpp
  src/common/AdaptiveDecrypter.h
  src/decrypters/clearkey/ClearKeyCencSingleSampleDecrypter.cpp
  src/decrypters/clearkey/ClearKeyCencSingleSampleDecrypter.h
  src/decrypters/widevine/WVCencSingleSampleDecrypter.cpp
  src/decrypters/widevine/WVCencSingleSampleDecrypter.h
  src/decrypters/widevineandroid/WVCencSingleSampleDecrypter.cpp
  src/decrypters/widevineandroid/WVCencSingleSampleDecrypter.h
  src/samplereader/FragmentedSampleReader.cpp
  src/samplereader/SubtitleSampleReader.cpp
Labels: Type: Cleanup, v22 Piers

#1895 [DashTree] Set TSB for live only
  src/parser/DASHTree.cpp
Labels: Type: Fix, Component: MPEG-DASH, v22 Piers

#1893 [Widevine] Add webOS support (L3)
  .github/workflows/build-webos.yml
  CMakeLists.txt
  lib/cdm/cdm/media/cdm/api/content_decryption_module.h
  lib/cdm/cdm/media/cdm/cdm_adapter.cc
  src/decrypters/widevine/WVCdmAdapter.cpp
Labels: Type: Feature, DRM: Widevine, v22 Piers, Platform: webOS

#1896 [Workflows][CI] Update new naming scheme for webOS buildroot
  .github/workflows/build-webos.yml
Labels: Type: Fix, v22 Piers
